# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Audio / Temp files
*.tmp
*.bak
*.m4a
*.mp3
*.flac
*.wav
*.jpg
*.png
!assets/*.svg
!assets/*.jpg
!assets/*.png
.music_art_session.json
